/* font-family: 'Great Vibes', cursive;
   font-family: "Times New Roman", Times, serif*/

@font-face {
	font-family: 'Great Vibes';
	font-weight: 400;
	font-style: normal;
	src: url('http://fonts.gstatic.com/s/greatvibes/v4/6q1c0ofG6NKsEhAc2eh-3WfQcKutQXcIrRfyR5jdjY8.eot');
	src: url('http://fonts.gstatic.com/s/greatvibes/v4/6q1c0ofG6NKsEhAc2eh-3WfQcKutQXcIrRfyR5jdjY8.eot?#iefix') format('embedded-opentype'), local('Great Vibes'), local('Great-Vibes-regular'), url('http://fonts.gstatic.com/s/greatvibes/v4/6q1c0ofG6NKsEhAc2eh-3Ygp9Q8gbYrhqGlRav_IXfk.woff2') format('woff2'), url('http://fonts.gstatic.com/s/greatvibes/v4/6q1c0ofG6NKsEhAc2eh-3brIa-7acMAeDBVuclsi6Gc.woff') format('woff'), url('http://fonts.gstatic.com/s/greatvibes/v4/6q1c0ofG6NKsEhAc2eh-3Z0EAVxt0G0biEntp43Qt6E.ttf') format('truetype'), url('http://fonts.gstatic.com/l/font?kit=6q1c0ofG6NKsEhAc2eh-3XNsigHlcrQGNV8nkUSFQfc&skey=1a66edef5eadc723&v=v4#GreatVibes') format('svg');
}

#background_page {
	width: 100vw;
}


/* Text position and style for every page || Sort for easier media query later */

.text {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 20px;
	line-height: 200%;
	width: 700px;
	top: 10em;
	left: calc(50% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}

.text h1 {
	font-size: 60px;
	font-family: 'Great Vibes', cursive;
}


/* Page 1 croatian END */

.text_page2 {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 17px;
	line-height: 200%;
	width: 700px;
	top: 1em;
	left: calc(50% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}

.text_page2 h1 {
	font-size: 60px;
	font-family: 'Great Vibes', cursive;
}


/* Page 2 croatian END */

.text_page3 {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 20px;
	line-height: 200%;
	width: 700px;
	top: 10em;
	left: calc(50% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}

.text_page3 h1 {
	font-size: 60px;
	font-family: 'Great Vibes', cursive;
}


/* Page 3 croatian END */

.text_page4 {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 20px;
	line-height: 200%;
	width: 700px;
	top: 10em;
	left: calc(50% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}

.text_page4 h1 {
	font-size: 60px;
	font-family: 'Great Vibes', cursive;
}


/* Page 4 croatian END */

.text_page5 {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 20px;
	line-height: 200%;
	width: 700px;
	top: 15em;
	left: calc(49% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}

.text_page5 h1 {
	font-size: 60px;
	font-family: 'Great Vibes', cursive;
}

.text_page5 li {
	margin: 0 0 15px 0;
	list-style-position: inside;
}


/* Page 5 croatian END */

.text_page6 {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 15px;
	line-height: 200%;
	width: 700px;
	top: 1em;
	left: calc(49% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}

.text_page6 h1 {
	font-size: 60px;
	font-family: 'Great Vibes', cursive;
}

.text_page7 {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 20px;
	line-height: 200%;
	width: 700px;
	top: 15em;
	left: calc(49% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}

.text_page7 h1 {
	font-size: 60px;
	font-family: 'Great Vibes', cursive;
}


/* Page 6 croatian END */

.text_englishpage1 {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 17px;
	line-height: 200%;
	width: 700px;
	top: 1em;
	left: calc(49% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}

.text_englishpage1 h1 {
	font-size: 60px;
	font-family: 'Great Vibes', cursive;
}


/* ENGLISH PAGE ONE END*/

.text_englishpage2 {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 17px;
	line-height: 150%;
	width: 700px;
	top: 1em;
	left: calc(49% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}

.text_englishpage2 h1 {
	font-size: 60px;
	font-family: 'Great Vibes', cursive;
}


/* ENGLISH PAGE TWO END*/

.text_englishpage3 {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 20px;
	line-height: 200%;
	width: 700px;
	top: 15em;
	left: calc(49% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}

.text_englishpage3 h1 {
	font-size: 60px;
	font-family: 'Great Vibes', cursive;
}


/* ENGLISH PAGE THREE END*/

.text_englishpage4 {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 20px;
	line-height: 200%;
	width: 700px;
	top: 10em;
	left: calc(49% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}

.text_englishpage4 h1 {
	font-size: 60px;
	font-family: 'Great Vibes', cursive;
}


/* ENGLISH PAGE FOUR END*/

.text_englishpage5 {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 20px;
	line-height: 200%;
	width: 700px;
	top: 15em;
	left: calc(49% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}

.text_englishpage5 h1 {
	font-size: 60px;
	font-family: 'Great Vibes', cursive;
}

.text_englishpage5 li {
	margin: 0 0 10px 0;
	list-style-position: inside;
}


/* ENGLISH PAGE FIVE END*/

.text_englishpage6 {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 18px;
	line-height: 200%;
	width: 700px;
	top: 1em;
	left: calc(49% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}

.text_englishpage6 h1 {
	font-size: 60px;
	font-family: 'Great Vibes', cursive;
}


/* ENGLISH PAGE SIX END*/

.text_englishpage7 {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 18px;
	line-height: 200%;
	width: 700px;
	top: 10em;
	left: calc(49% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}

.text_englishpage7 h1 {
	font-size: 60px;
	font-family: 'Great Vibes', cursive;
}


/* ENGLISH PAGE SEVEN END*/

.text_englishpage8 {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 18px;
	line-height: 200%;
	width: 700px;
	top: 15em;
	left: calc(49% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}

.text_englishpage8 h1 {
	font-size: 60px;
	font-family: 'Great Vibes', cursive;
}


/* ENGLISH PAGE EIGHT END*/

.text_germanpage1 {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 16px;
	line-height: 200%;
	width: 700px;
	top: 1em;
	left: calc(49% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}

.text_germanpage1 h1 {
	font-size: 60px;
	font-family: 'Great Vibes', cursive;
}


/* GERMAN PAGE ONE END*/

.text_germanpage2 {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 14px;
	line-height: 160%;
	width: 700px;
	top: 1em;
	left: calc(49% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}

.text_germanpage2 h1 {
	font-size: 60px;
	font-family: 'Great Vibes', cursive;
}


/* GERMAN PAGE TWO END*/

.text_germanpage3 {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 20px;
	line-height: 200%;
	width: 700px;
	top: 15em;
	left: calc(49% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}

.text_germanpage3 h1 {
	font-size: 60px;
	font-family: 'Great Vibes', cursive;
}


/* GERMAN PAGE THREE END*/

.text_germanpage4 {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 20px;
	line-height: 200%;
	width: 700px;
	top: 10em;
	left: calc(49% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}

.text_germanpage4 h1 {
	font-size: 60px;
	font-family: 'Great Vibes', cursive;
}


/* GERMAN PAGE FOUR END*/

.text_germanpage5 {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 20px;
	line-height: 200%;
	width: 700px;
	top: 15em;
	left: calc(49% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}

.text_germanpage5 h1 {
	font-size: 60px;
	font-family: 'Great Vibes', cursive;
}

.text_germanpage5 li {
	margin: 0 0 10px 0;
	list-style-position: inside;
}


/* GERMAN PAGE FIVE END*/

.text_germanpage6 {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 17px;
	line-height: 160%;
	width: 700px;
	top: 1em;
	left: calc(49% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}

.text_germanpage6 h1 {
	font-size: 60px;
	font-family: 'Great Vibes', cursive;
}


/* GERMAN PAGE SIX END*/

.text_germanpage7 {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 20px;
	line-height: 200%;
	width: 700px;
	top: 10em;
	left: calc(49% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}

.text_germanpage7 h1 {
	font-size: 60px;
	font-family: 'Great Vibes', cursive;
}


/* GERMAN PAGE SEVEN END*/

.text_frenchpage1 {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 17px;
	line-height: 200%;
	width: 700px;
	top: 5em;
	left: calc(49% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}

.text_frenchpage1 h1 {
	font-size: 60px;
	font-family: 'Great Vibes', cursive;
}


/* FRENCH PAGE ONE END*/

.text_frenchpage2 {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 17px;
	line-height: 170%;
	width: 700px;
	top: 1em;
	left: calc(49% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}

.text_frenchpage2 h1 {
	font-size: 60px;
	font-family: 'Great Vibes', cursive;
}


/* FRENCH PAGE TWO END*/

.text_frenchpage3 {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 17px;
	line-height: 170%;
	width: 700px;
	top: 15em;
	left: calc(49% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}

.text_frenchpage3 h1 {
	font-size: 60px;
	font-family: 'Great Vibes', cursive;
}


/* FRENCH PAGE THREE END*/

.text_frenchpage4 {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 17px;
	line-height: 170%;
	width: 700px;
	top: 15em;
	left: calc(49% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}

.text_frenchpage4 h1 {
	font-size: 60px;
	font-family: 'Great Vibes', cursive;
}


/* FRENCH PAGE FOUR END*/

.text_frenchpage5 {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 20px;
	line-height: 200%;
	width: 700px;
	top: 15em;
	left: calc(49% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}

.text_frenchpage5 h1 {
	font-size: 60px;
	font-family: 'Great Vibes', cursive;
}

.text_frenchpage5 li {
	margin: 0 0 10px 0;
	list-style-position: inside;
}


/* FRENCH PAGE FIVE END*/

.text_frenchpage6 {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 17px;
	line-height: 170%;
	width: 700px;
	top: 1em;
	left: calc(49% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}

.text_frenchpage6 h1 {
	font-size: 60px;
	font-family: 'Great Vibes', cursive;
}


/* FRENCH PAGE SIX END*/

.text_frenchpage7 {
	position: absolute;
	margin-left: 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-size: 17px;
	line-height: 170%;
	width: 700px;
	top: 10em;
	left: calc(49% - 350px);
	-webkit-text-size-adjust: auto;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-top: 180px;
}


/* FRENCH PAGE SEVEN END*/

.buttonStylePrev {
	position: absolute;
	color: white;
	position: fixed;
	background: rgba(0, 6, 21, 0.4);
	border-radius: 25px;
	border: none;
	top: 50vh;
	left: 25px;
	padding: 20px 25px;
	-webkit-transition: 0.3s ease;
	box-shadow: 2px 2px 2px darkslategray;
	font-weight: bolder;
	cursor: pointer;
	z-index: 1000;
	font-family: "Times New Roman", Times, serif;
}

.buttonStylePrev a {
	font-weight: bolder;
	font-family: "Times New Roman", Times, serif;
	color: white;
	text-decoration: none;
}

.buttonStylePrev:hover {
	background-color: rgba(0, 6, 21, 0.9);
	transition: 0.3s ease;
	box-shadow: 2px 2px 2px black;
	text-decoration: none;
	cursor: pointer;
}

.buttonStyleNext {
	position: absolute;
	color: white;
	position: fixed;
	background: rgba(0, 6, 21, 0.4);
	border-radius: 25px;
	font-weight: bolder;
	border: none;
	top: 50vh;
	right: 25px;
	padding: 20px 25px;
	-webkit-transition: 0.3s ease;
	box-shadow: 2px 2px 2px darkslategray;
	cursor: pointer;
	z-index: 1000;
	font-family: "Times New Roman", Times, serif
}

.buttonStyleNext a {
	font-family: "Times New Roman", Times, serif;
	color: white;
	text-decoration: none;
}

.buttonStyleNext:hover {
	background-color: rgba(0, 6, 21, 0.9);
	transition: 0.3s ease;
	box-shadow: 2px 2px 2px black;
	text-decoration: none;
	cursor: pointer;
}

.buttonStyleNext:hover a {
	color: white;
}
.image{
	height: 100vh;
	width:40vw;
}


/**********MEDIA QUERIES**********/

@media screen and (max-width:1300px) {
	.text_frenchpage1 {
		font-size: 12px;
		line-height: 200%;
		top: .0001em;
	}
	.text_frenchpage1 h1 {
		font-size: 17px;
	}
	/* FRENCH MEDIA QUERY END*/
	.text {
		font-size: 20px;
		line-height: 150%;
	}
	.text_page7 {
		padding-top: 5em;
	}
	.buttonStyleNext {
		right: 50px;
	}
	.buttonStylePrev {
		left: 50px;
	}
	/* CROATIAN MEDIA QUERY END*/
	.text_englishpage1 {
		line-height: 190%;
	}
	.text_englishpage1 h1 {
		font-size: 35px;
	}
	.text_englishpage2 {
		padding-top: 10em;
		font-size: 18px;
		line-height: 130%;
	}
	.text_englishpage4 {
		padding-top: 1em;
	}
	.text_englishpage6 {
		line-height: 190%;
		padding-top: 7em;
	}
	.text_englishpage7 {
		padding-top: 5em;
	}
	/* ENGLISH MEDIA QUERY END*/
	.text_germanpage1 {
		padding-top: 15em;
		font-size: 14px;
	}
	.text_germanpage2 {
		padding-top: 10em;
	}
	.text_germanpage4 {
		font-size: 17px;
		padding-top: 5em;
	}
	.text_germanpage6 {
		padding-top: 3em;
	}
	.text_germanpage7 {
		padding-top: 3em;
	}
	/* GERMAN MEDIA QUERY END*/
	@media screen and (max-width:1000px) {
		.text_frenchpage1 {
			font-size: 12px;
			line-height: 80%;
			top: .001px;
		}
		.text_frenchpage1 h1 {
			font-size: 25px;
		}
		.text_frenchpage2 {
			font-size: 10px;
			line-height: 80%;
			top: .001px;
		}
		.text_frenchpage4 {
			font-size: 14px;
		}
		.text_frenchpage4 h1 {
			font-size: 24px;
		}
		.text_frenchpage5 {
			font-size: 14px;
		}
		.text_frenchpage5 h1 {
			font-size: 40px;
		}
		.text_frenchpage6 {
			line-height: 50%;
			font-size: 13px;
		}
		.text_frenchpage6 h1 {
			font-size: 25px;
			padding-top: 5em;
		}
		.text_frenchpage7 {
			padding-top: 5em;
		}
		/* FRENCH MEDIA QUERY END*/
		.text {
			font-size: 20px;
			line-height: 70%;
		}
		.text_page2 {
			font-size: 14px;
			line-height: 120%;
		}
		.text_page4 {
			font-size: 16px;
		}
		.text_page4 h1 {
			font-size: 45px;
		}
		.text_page5 {
			padding-top: 5em;
		}
		.text_page6 {
			font-size: 12px;
			padding-top: 5em;
		}
		.text_page6 h1 {
			font-size: 30px;
		}
		.text_page7 {
			font-size: 16px;
			line-height: 90%;
		}
		/* CROATIAN MEDIA QUERY END*/
		.text_englishpage1 {
			font-size: 12px;
			line-height: 170%;
		}
		.text_englishpage1 h1 {
			font-size: 30px;
		}
		.text_englishpage2 {
			font-size: 14px;
			line-height: 80%;
		}
		.text_englishpage2 h1 {
			font-size: 30px;
		}
		.text_englishpage3 {
			font-size: 16px;
		}
		.text_englishpage3 h1 {
			font-size: 30px;
		}
		.text_englishpage4 {
			font-size: 13px;
			padding-top: 5em;
		}
		.text_englishpage4 h1 {
			font-size: 35px;
		}
		.text_englishpage5 {
			padding-top: 1em;
		}
		.text_englishpage6 {
			font-size: 13px;
			line-height: 180%;
		}
		.text_englishpage6 h1 {
			font-size: 30px;
		}
		.text_englishpage7 {
			font-size: 13px;
			line-height: 80%;
		}
		/* ENGLISH MEDIA QUERY END*/
		.text_germanpage1 {
			font-size: 13px;
			line-height: 60%;
			padding-top: 20em;
		}
		.text_germanpage2 {
			line-height: 70%;
		}
		.text_germanpage3 {
			font-size: 13px;
		}
		.text_germanpage3 h1 {
			font-size: 35px;
		}
		.text_germanpage4 {
			font-size: 15px;
			line-height: 110%;
		}
		.text_germanpage4 h1 {
			font-size: 35px;
		}
		.text_germanpage5 {
			font-size: 13px;
		}
		.text_germanpage6 {
			font-size: 13px;
			line-height: 100%;
		}
		.text_germanpage7 {
			font-size: 13px;
			padding-top: 5em;
		}
		/* GERMAN MEDIA QUERY END*/
		.buttonStyleNext {
			font-size: 10px;
			right: 100px;
		}
		.buttonStylePrev {
			font-size: 10px;
			left: 100px;
		}
	}
	@media screen and (max-width:750px) {
		.text_frenchpage1 {
			font-size: 10px;
			line-height: 10%;
			top: .001em;
		}
		.text_frenchpage1 h1 {
			/* French page one*/
			font-size: 17px;
		}
		.text_frenchpage2 {
			font-size: 10px;
			line-height: 10%;
			top: .001em;
		}
		.text_frenchpage3 {
			font-size: 10px;
		}
		.text_frenchpage3 h1 {
			font-size: 50px;
		}
		.text_frenchpage4 {
			font-size: 10px;
		}
		.text_frenchpage4 h1 {
			font-size: 16px;
		}
		.text_frenchpage5 {
			font-size: 11px;
		}
		.text_frenchpage5 h1 {
			font-size: 22px;
		}
		.text_frenchpage6 {
			font-size: 14px;
			line-height: 50%;
		}
		.text_frenchpage6 h1 {
			font-size: 20px;
		}
		.text_frenchpage7 {
			font-size: 14px;
			line-height: 50%;
		}
		/* FRENCH MEDIA QUERY END*/
		.text {
			font-size: 14px;
			line-height: 50%;
			top: .0001em;
		}
		.text h1 {
			font-size: 40px;
		}
		.text_page2 {
			font-size: 12px;
			line-height: 80%;
		}
		.text_page2 h1 {
			font-size: 30px;
		}
		.text_page3 {
			top: 1em;
		}
		.text_page4 {
			font-size: 14px;
			top: 1em;
		}
		.text_page4 h1 {
			font-size: 40px;
		}
		.text_page5 {
			padding-top: 10em;
			font-size: 11px;
			line-height: 80%;
		}
		.text_page6 {
			font-size: 12px;
			line-height: 100%;
			padding-top: 5em;
		}
		.text_page6 h1 {
			font-size: 20px;
		}
		.text_page7 {
			font-size: 14px;
			line-height: 90%;
			padding-top: 5em;
		}
		/* CROATIAN MEDIA QUERY END*/
		.text_englishpage1 {
			font-size: 14px;
			line-height: 50%;
		}
		.text_englishpage1 h1 {
			font-size: 30px;
		}
		.text_englishpage2 {
			font-size: 12px;
			line-height: 50%;
		}
		.text_englishpage2 h1 {
			font-size: 35px;
		}
		.text_englishpage3 {
			font-size: 14px;
			line-height: 80%;
			padding-top: 10em;
		}
		.text_englishpage3 h1 {
			font-size: 30px;
		}
		.text_englishpage4 {
			font-size: 11px;
			line-height: 90%;
			padding-top: 5em;
		}
		.text_englishpage4 h1 {
			font-size: 30px;
		}
		.text_englishpage5 {
			font-size: 10px;
		}
		.text_englishpage5 h1 {
			font-size: 25px;
		}
		.text_englishpage6 {
			font-size: 11px;
			line-height: 80%;
		}
		.text_englishpage6 h1 {
			font-size: 25px;
		}
		.text_englishpage7 {
			font-size: 11px;
			line-height: 80%;
		}
		.text_englishpage8 {
			font-size: 13px;
			padding-top: 5em;
		}
		/* ENGLISH MEDIA QUERY END*/
		.text_germanpage1 {
			font-size: 11px;
			line-height: 50%;
		}
		.text_germanpage2 {
			font-size: 11px;
			line-height: 60%;
			padding-top: 10em;
		}
		.text_germanpage3 {
			font-size: 11px;
			line-height: 90%;
		}
		.text_germanpage4 {
			font-size: 11px;
			line-height: 90%;
			padding-top: 8em;
		}
		.text_germanpage4 h1 {
			font-size: 23px;
		}
		.text_germanpage5 {
			font-size: 11px;
		}
		.text_germanpage5 h1 {
			font-size: 40px;
		}
		.text_germanpage6 {
			font-size: 13px;
			line-height: 80%;
			padding-top: 4em;
		}
		.text_germanpage6 h1 {
			font-size: 35px;
		}
		.text_germanpage7 {
			font-size: 11px;
			line-height: 50%;
		}
		/* GERMAN MEDIA QUERY END*/
		.buttonStylePrev {
			left: 50px;
			font-size: 5px;
		}
		.buttonStyleNext {
			right: 50px;
			font-size: 5px;
		}
	}
	@media screen and (max-width:550px) {
		.text_frenchpage1 {
			font-size: 9px;
			padding-top: 5em;
		}
		.text_frenchpage2 {
			font-size: 7px;
			line-height: 10%;
			padding-top: 5em;
			height: 100vh;
		}
		#background_page {
			height: 50em;
		}
		.text_frenchpage2 h1 {
			font-size: 10px;
		}
		.text_frenchpage3 {
			font-size: 10px;
			padding-top: 5em;
		}
		.text_frenchpage3 h1 {
			font-size: 25px;
		}
		.text_frenchpage4 {
			font-size: 9px;
			padding-top: 2em;
		}
		.text_frenchpage4 h1 {
			font-size: 14px;
		}
		.text_frenchpage5 {
			font-size: 8px;
			line-height: 100%;
			padding-top: 10em;
		}
		.text_frenchpage5 ul {
			top: 100em;
		}
		.text_frenchpage5 h1 {
			font-size: 15px;
		}
		.text_frenchpage6 {
			font-size: 9px;
			line-height: 35%;
			padding-top: 1em;
		}
		.text_frenchpage6 h1 {
			font-size: 15px;
		}
		.text_frenchpage7 {
			font-size: 10px;
			padding-top: 2em;
			line-height: 50%;
		}
		/* FRENCH MEDIA QUERY END*/
		.text {
			font-size: 10px;
			line-height: 70%;
			padding-top: 25px;
		}
		.text h1 {
			font-size: 20px;
		}
		.text_page2 {
			font-size: 8px;
			line-height: 85%;
			padding-top: 5em;
		}
		.text_page2 h1 {
			font-size: 30px;
		}
		.text_page3 {
			font-size: 9px;
			padding-top: 10em;
			line-height: 80%;
		}
		.text_page3 h1 {
			font-size: 25px;
		}
		.text_page4 {
			font-size: 12px;
			line-height: 50%;
			padding-top: 10em;
		}
		.text_page4 h1 {
			font-size: 30px;
		}
		.text_page5 {
			font-size: 7px;
			line-height: 100%;
			top: 5em;
		}
		.text_page6 {
			font-size: 10px;
			line-height: 10%;
			padding-top: 1em;
		}
		.text_page7 {
			font-size: 10px;
			line-height: 80%;
			top: 1em;
		}
		.text_page6 h1 {
			font-size: 20px;
		}
		.text_page5 h1 {
			font-size: 20px;
		}
		/* CROATIAN MEDIA QUERY END*/
		.text_englishpage1 {
			font-size: 10px;
			line-height: 50%;
			padding-top: 1em;
		}
		.text_englishpage1 h1 {
			font-size: 15px;
		}
		.text_englishpage2 {
			font-size: 10px;
			line-height: 30%;
			padding-top: 4em;
		}
		.text_englishpage2 h1 {
			font-size: 25px;
		}
		.text_englishpage3 {
			font-size: 10px;
			line-height: 50%;
			padding-top: 7em;
		}
		.text_englishpage3 h1 {
			font-size: 30px;
		}
		.text_englishpage4 {
			font-size: 9px;
			line-height: 70%;
			padding-top: 1em;
		}
		.text_englishpage4 h1 {
			font-size: 20px;
		}
		.text_englishpage5 {
			font-size: 11px;
			padding-top: 5em;
		}
		.text_englishpage5 h1 {
			font-size: 20px;
		}
		.text_englishpage6 {
			font-size: 9px;
			line-height: 50%;
			padding-top: 15em;
		}
		.text_englishpage6 h1 {
			font-size: 20px;
		}
		.text_englishpage7 {
			font-size: 9px;
			line-height: 70%;
			padding-top: 7em;
		}
		.text_englishpage8 {
			font-size: 9px;
			line-height: 80%;
			padding-top: 10em;
		}
		/* ENGLISH MEDIA QUERY END*/
		.text_germanpage1 {
			font-size: 9px;
			line-height: 30%;
			padding-top: 10em;
		}
		.text_germanpage1 h1 {
			font-size: 22px;
		}
		.text_germanpage2 {
			font-size: 9px;
			line-height: 30%;
			padding-top: 5em;
		}
		.text_germanpage2 h1 {
			font-size: 22px;
		}
		.text_germanpage3 {
			font-size: 9px;
			line-height: 50%;
			padding-top: 10em;
		}
		.text_germanpage3 h1 {
			font-size: 22px;
		}
		.text_germanpage4 {
			font-size: 9px;
			line-height: 50%;
			padding-top: 10px;
		}
		.text_germanpage4 h1 {
			font-size: 15px;
		}
		.text_germanpage5 {
			font-size: 9px;
			padding-top: 10em;
		}
		.text_germanpage5 h1 {
			font-size: 35px;
		}
		.text_germanpage6 {
			font-size: 11px;
			line-height: 40%;
			padding-top: 4em;
		}
		.text_germanpage7 {
			font-size: 9px;
			line-height: 40%;
			padding-top: 10em;
		}
		.text_germanpage6 h1 {
			font-size: 30px;
		}
		.image{
			width: 100vw;
		}
		/* GERMAN MEDIA QUERY END*/
	}
}

@media screen and (max-width:320px) {
	.text_frenchpage1 {
		font-size: 7px;
		line-height: 80%;
		padding-top: 5em;
	}
	.text_frenchpage2 {
		font-size: 6px;
		line-height: 2%;
		padding-top: 5em,
	}
	.text_frenchpage3 {
		font-size: 7px;
		padding-top: 5em;
	}
	.text_frenchpage4 h1 {
		font-size: 7px;
	}
	.text_frenchpage5 {
		padding-top: 5em;
		font-size: 5px;
		padding-left: -20px;
	}
	.text_frenchpage6 {
		padding-top: 5em;
		font-size: 4px;
		line-height: 2%;
	}
	.text_frenchpage6 h1 {
		font-size: 6px;
	}
	.text_frenchpage7 {
		font-size: 7px;
		padding-top: 5em;
		line-height: 20%;
	}
	/* FRENCH MEDIA QUERY END*/
	.text {
		font-size: 7px;
		line-height: 50%;
		top: .1em;
	}
	.text h1 {
		font-size: 20px;
	}
	.text_page2 {
		font-size: 7px;
		line-height: 50%;
		padding-top: 10em;
	}
	.text_page2 h1 {
		font-size: 30px;
	}
	.text_page3 {
		font-size: 8px;
		top: 5em;
		line-height: 50%;
	}
	.text_page3 h1 {
		font-size: 20px;
	}
	.text_page4 {
		font-size: 50%;
		line-height: 50%;
		top: 1em;
	}
	.text_page4 h1 {
		font-size: 17px;
	}
	.text_page5 {
		font-size: 7px;
		padding-top: 20em;
		line-height: 20%;
	}
	.text_page5 h1 {
		font-size: 10px;
	}
	.text_page6 {
		font-size: 7px;
		line-height: 50%;
		padding-top: 10em;
	}
	.text_page6 h1 {
		font-size: 10px;
	}
	.text_page7 {
		font-size: 6px;
		line-height: 50%;
		padding-top: 15em;
	}
	/* CROATIAN MEDIA QUERY END*/
	.text_englishpage1 {
		font-size: 8px;
		line-height: 50%;
		padding-top: 10em;
	}
	.text_englishpage1 h1 {
		font-size: 30px;
	}
	.text_englishpage2 {
		font-size: 7px;
		line-height: 20%;
		padding-top: 10em;
	}
	.text_englishpage2 h1 {
		font-size: 25px;
	}
	.text_englishpage3 {
		font-size: 8px;
		line-height: 30%;
		padding-top: 10em;
	}
	.text_englishpage3 h1 {
		font-size: 30px;
	}
	.text_englishpage4 {
		font-size: 7px;
		line-height: 50%;
		padding-top: 5em;
	}
	.text_englishpage4 h1 {
		font-size: 15px;
	}
	.text_englishpage5 {
		font-size: 7px;
		line-height: 2%;
	}
	.text_englishpage5 h1 {
		font-size: 30px;
	}
	.text_englishpage6 {
		font-size: 7px;
		line-height: 20%;
	}
	.text_englishpage6 h1 {
		font-size: 20px;
	}
	.text_englishpage7 {
		font-size: 7px;
		line-height: 50%;
		padding-top: 15em;
	}
	.text_englishpage8 {
		font-size: 7px;
		line-height: 50%;
	}
	/* ENGLISH MEDIA QUERY END*/
	.text_germanpage1 {
		font-size: 7px;
		line-height: 30%;
		padding-top: 10em;
	}
	.text_germanpage1 h1 {
		font-size: 20px;
	}
	.text_germanpage2 {
		font-size: 7px;
		line-height: 25%;
		padding-top: 10em;
	}
	.text_germanpage2 h1 {
		font-size: 20px;
	}
	.text_germanpage3 {
		font-size: 7px;
		line-height: 30%;
		padding-top: 20em;
	}
	.text_germanpage3 h1 {
		font-size: 20px;
	}
	.text_germanpage4 {
		font-size: 6px;
		line-height: 20%;
		padding-top: 15em;
	}
	.text_germanpage4 h1 {
		font-size: 10px;
	}
	.text_germanpage5 {
		font-size: 9px;
		padding-top: 15em;
	}
	.text_germanpage5 h1 {
		font-size: 20px;
	}
	.text_germanpage5 li {
		line-height: 40%;
	}
	.text_germanpage6 {
		font-size: 8px;
		line-height: 30%;
		padding-top: 15em;
	}
	.text_germanpage6 h1 {
		font-size: 20px;
	}
	.text_germanpage7 {
		font-size: 9px;
		line-height: 40%;
		padding-top: 12em;
	}
	/* GERMAN MEDIA QUERY END*/
	.buttonStylePrev {
		left: 2px;
		padding: 15px 20px;
	}
	.buttonStyleNext {
		right: 2px;
		padding: 15px 20px;
	}
}


/***** MEDIA QUERY END *****/
